 <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row ">

          <div class="col-md-3">
            <h4 class="" style="margin-bottom:30px;font-size:27px;">단지내 동천파크자이<br><span style="font-size:20px">공인중개사 사무소</span></h4>
          </div>
          <div class="col-md-9 footer-info" style="text-align:center">


            <ul class="list-unstyled list-inline seperator" style="">
              <li><span>상호명 : 단지내 동천파크자이 공인중개사 사무소</span></li>
              <li><span> 대표자 : 김영하</span></li>
              <li><span> 사업자등록번호 : 341-09-01688</span></li>
            </ul>
            <ul class="list-unstyled list-inline seperator">
              <li><span>주소 : 용인시 수지구 동천로153번길 79 동천파크자이 상가동 102호</span></li>
              <li><span>전화 : 031-272-6111</span></li>
              <li><span>대표자 전화번호 : 010-5350-1640</span></li>
            </ul>

          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>단지내 동천파크자이 공인중개사 사무소</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!-- Vendor JS Files -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="/vendor/venobox/venobox.min.js"></script>
  <script src="/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/vendor/counterup/counterup.min.js"></script>
  <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/request.js"></script>
  <script src="/js/properties.js"></script>
  <script src="/js/notice.js"></script>
  <script src="/js/question.js"></script>
  <script src="/js/answer.js"></script>
  <script src="/js/cart.js"></script>
  <script src="/js/sign-up.js"></script>
  <script src="/js/find-pwd.js"></script>
  <script src="/js/summernote/summernote-bs4.js"></script>
  <script src="/js/summernote/lang/summernote-ko-KR.js"></script>


</body>

</html>