<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>단지내 동천파크자이 공인중개사 사무소</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/favicon.png" rel="shortcut-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <link href="/css/hangul.css" rel="stylesheet">
  <link href="/css/summernote/summernote-bs4.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- =======================================================
  * Template Name: Mamba - v2.5.0
  * Template URL: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

</head>

<body>

<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
  <div class="container clearfix">
    <div class="contact-info float-left">
      <i class="icofont-envelope"></i><a href="mailto:contact@example.com">contact@example.com</a>
      <i class="icofont-phone"></i>  031-272-6111
    </div>
    <div class="social-links float-right" style="font-size:12px; padding-top:2px;">
        {{#uid}}
        <li class=""><a href="/logout">로그아웃</a></li>
        <input id='uid' type='text' value="{{uid}}" style="display:none;">
        {{/uid}}
        {{^uid}}
        <li class=""><a href="/loginPage">로그인</a></li>
        {{/uid}}

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                마이페이지
            </a>
            <ul class="dropdown-menu" >
                {{#uid}}
                <li><a href="/account">계정관리</a></li>
                {{/uid}}
                <li><a href="/cart">찜매물</a></li>
            </ul>
        </li>
    </div>
  </div>
</section>

<!-- ======= Header ======= -->
<header id="header">
  <div class="container">

    <div class="logo float-left">
      <h1 class="text-light"><a href="/"><img src="/img/logo.jpg " width="230" style="margin-top:-5px;"></a></h1> <!--text-light는 글자색, bootstrap.css/ -->
    </div>

    <nav class="nav-menu float-right d-none d-lg-block">
      <ul>
        <li><a href="/find-way">찾아오시는 길</a></li>
        <li class="drop-down"><a href="/apart-view">아파트 정보</a>
          <ul>
            <li><a href="/apart-view">단지전경</a></li>
            <li><a href="/area-info">평형정보</a></li>
            <li><a href="/in-facility">내부시설</a></li>
            <li><a href="/community-facility">커뮤니티시설</a></li>
            <li><a href="/surrounding-location">주변입지</a></li>
          </ul>
        </li>
        <li class="drop-down"><a href="/request/buy">의뢰하기</a>
          <ul>
            <li><a href="/request/buy">매수하기</a></li>
            <li><a href="/request/sell">매도하기</a></li>
          </ul>
        </li>
        <li><a href="/property">매물보기</a></li>
        <li><a href="/notice">공지사항</a></li>
        <li><a href="/question">Q&A</a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->