{{>layout/header}}

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <ol>
            <li><a href="/">홈</a></li>
            <li>계정관리</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">

        <div class="section-title">
          <h2 class="hangul">회원정보</h2>
        </div>
        <table class="table table-bordered hangul" style="width:70%; margin:0 auto;color:#666666;">

          <colgroup>
            <col width="400px"  bgcolor="#f5f9fc" class="align-middle"/>
            <col width="1200px"/>
          </colgroup>

          <tr>
            <th class="align-middle">이메일</th>
            <td>{{user.email}}</td>
          </tr>

          {{^user.oauth}}
          <tr>
            <th class="align-middle">비밀번호</th>
            <td ><input type="password" style="width:60%" class="form-control" id="user_password"></td>
          </tr>
          <tr>
            <th class="align-middle">비밀번호 확인</th>
            <td ><input type="password" style="width:60%;display:inline" class="form-control" id="user_password_sec" onchange="comp_pwd()">
                <span id="check_pwd" style="color:red;font-size:13px"></span>
            </td>
          </tr>
          {{/user.oauth}}

          <tr>
            <th class="align-middle">이름</th>
            {{^user.oauth}}
            <td ><input type="text" style="width:30%" class="form-control" value="{{user.name}}" id="user_name"></td>
            {{/user.oauth}}
            {{#user.oauth}}
            <td>{{user.name}}</td>
            {{/user.oauth}}
          </tr>
        </table>

        {{^user.oauth}}
        <div style="text-align:center; margin-left:650px">
          <button id="btn-user-update" class="submit" style="margin:20px;background-color:#428bca;color:white">수정하기</button>
        </div>
        {{/user.oauth}}

        <hr style="margin:50px">

        <div class="section-title">
          <h2 class="hangul">회원탈퇴</h2>
        </div>

        {{^user.oauth}}
        <table class="table table-bordered hangul" style="width:70%; margin:0 auto;color:#666666">
          <colgroup>
            <col width="400px"  bgcolor="#f5f9fc" class="align-middle"/>
            <col width="1200px"/>
          </colgroup>

          <tr>
            <th class="align-middle">비밀번호</th>
            <td ><input type="password" style="width:60%" class="form-control" id="pwd_delete"></td>
          </tr>

        </table>
        <div style="text-align:center;margin-left:650px">
          <button id="btn-user-delete" class="submit" style="margin:20px;">탈퇴하기</button>
        </div>
        {{/user.oauth}}

        {{#user.oauth}}
        <div style="text-align:center;">
          <button id="oauth-user-delete" class="submit" style="margin:20px;">탈퇴하기</button>
        </div>
        {{/user.oauth}}

      </div>
    </section>

  </main><!-- End #main -->

{{>layout/footer}}