{{>layout/header}}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url('img/slide/동천파크자이.jpg');">
            {{#admin}}
                <div><a class="admin-first" href="/administer/confirm-request">>>의뢰조회</a></div>
                <div><a class="admin-second" href="/administer/enroll-property">>>매물등록</a></div>
                <div><a class="admin-third" href="/administer/member-management">>>회원관리</a></div>
            {{/admin}}
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">단지내 동천파크자이 공인중개사 사무소</h2>
                <p class="animate__animated animate__fadeInUp">홍보문구가 들어갈 자리</p>
                <a href="/request/buy" class="btn-get-started animate__animated animate__fadeInUp scrollto">매도하기/매수하기</a>
              </div>
            </div>
          </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">


    <!-- ======= Select Section ======= -->



    <!-- End Select -->

    <!-- ======= Property Lists Section ======= -->
    <section class="property-lists">
      <div class="container">
        <div class="section-title hangul" >
          <h2>실시간 매물보기</h2>
        </div>

        <div class="row no-gutters">

          {{#property}}
          <div class="col-lg-4 col-md-6 content-item" style="text-align:center;" data-aos="fade-up">
          <a href="/property-detail/{{id}}">
            {{#represent_img}}
                <img src={{represent_img}} class="img-size">
            {{/represent_img}}
            {{^represent_img}}
                <div class="default-img">{{apart}} {{address}}<br />{{price}}</div>
            {{/represent_img}}
            <h5 style="max-width:450px;margin-top:5px;">{{title}}</h5>
          </a>
          </div>
          {{/property}}

        </div>
        <div style="height:30px"></div>
        <button class="btn btn-primary btn-sm disabled" onclick="location.href='/lookup-property';" style="float: right;">더보기</button>
      </div>
    </section><!-- End Property Lists Section -->

    <!-- ======= Classified by apartment section ======= -->
    <section class="cba section-bg">
      <div class="container">

          <div class="section-title hangul" >
            <h2>아파트 별로 보기</h2>
          </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div class="apart_part">
              <div class="thumbnail">
                <h2 class="apart-name"><div class="hangul"> 동천파크자이 </div></h2>
                <div class="featured-img">
                  <a href="/lookup-property/park-xi"><span class="gradient-overlay"></span></a>

                  <img src="img/slide/동천파크자이.jpg">

                </div>

              </div>

              <div class="entry-meta">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div class="apart_part">
              <div class="thumbnail">
                <h2 class="apart-name hangul"> <div class="hangul"> Etc</div> </h2>
                <div class="featured-img">
                  <a href="/lookup-property/eastpole" ><span class="gradient-overlay"></span></a>
                  <img src="img/동아.jpg">
                </div>

              </div>


            </div>
          </div>

        </div>
      </div>
    </section><!-- End Classified by apartment section -->


  </main><!-- End #main -->

{{>layout/footer}}